%p#notice= notice
.header
  .header_info
    .logo
      %h1= link_to "MSNGFD", root_path
  .info
    %h4 created & curated by
    %span
      %a{:href => "http://www.dwst.cc", :target => "_blank"} dwst
.mobile_container
  - @videos.each do |video|
    .video_wrapper
      .video_content
        %img.ratio{:src => "http://placehold.it/16x9"}/
        %iframe#player{:allowfullscreen => "", :frameborder => "0", :src => "#{video.link}?rel=0&amp;amp;showinfo=0;autoplay=1;enablejsapi=1"}
      .video_foot
        .video_info
          %h1=video.artist
          %h1 -
          %h1=video.song
        .buttons
          .random_button
            = link_to "random video", videos_path
          .showall_button
            = link_to "all videos", pages_videos_path


%script{:src => "https://www.youtube.com/iframe_api", :type => "text/javascript"}
:javascript
  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        events: {
          'onStateChange': onPlayerStateChange
        }
      });
  }

  function onPlayerStateChange(event) {
      if(event.data === 0) {
          location.reload (true);
      }
  }
