<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @video.link %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @video.artist %>
</p>

<p>
  <strong>Song:</strong>
  <%= @video.song %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
