.header
  .header_info
    .logo
      %h1= link_to "MSNGFD", root_path
  .info
    %h4 created & curated by
    %span
      %a{:href => "http://www.dwst.cc", :target => "_blank"} dwst
.back_button
  = link_to 'Back to Random', videos_path
.mobile_container_all
  - @video.each do |video|
    .video_wrapper_all
      .video_content
        %img.ratio{:src => "http://placehold.it/16x9"}/
        %iframe#player{:allowfullscreen => "", :frameborder => "0", :src => "#{video.link}?rel=0&amp;amp;showinfo=0;enablejsapi=1"}
      .video_foot
        .video_info.all_foot
          = link_to video_path(video) do
            %h1.all_foot= ((video.artist)+'-'+(video.song))
